DISCORD_WEBHOOK_URL=https://discordapp.com/api/webhooks/1497851467875487879/WIQQTHtK0Yo6qMXG5CpcdnX0NrXzb4_ZzIw5e7HHe-5ni9hX5hKX5kBwWxlr8pssXyDV
GOOGLE_API_KEY=your_key_here
FRED_API_KEY=your_key_here
DCA_DAY=1
DCA_BUDGET_THB=5000
ANTHROPIC_API_KEY=your_key_here