prophet
matplotlib
yfinance
fredapi
pandas
numpy
pandas-ta
ta
streamlit
plotly
requests
feedparser
praw
schedule
python-dotenv
groq
google-genai
reportlab
fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
websockets
apscheduler
